<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <div class="container">    
        <section>   
          {{ content }} 
        </section>
    </div>   


    <script>
    $(document).ready(function() {
      $('.sliding-panel-button,.sliding-panel-fade-screen,.sliding-panel-close').on('click touchstart',function (e) {
        $('.sliding-panel-content,.sliding-panel-fade-screen').toggleClass('is-visible');
        e.preventDefault();
      });      
    });
    </script>
  </body>
</html>
